body {
    font-family: tahoma, sans-serif;
    background-color: white;
    width: 1024px;
    margin: auto;
    box-sizing: border-box;
}

.hero {
    width: center;
    position: relative;
    box-sizing: border-box;
    margin-top: 20px;
}


.navi_principal {
    background-color: rgb(6, 20, 28);
    position: relative;
    padding: 5px;
    box-sizing: border-box;
}

.navi_principal img{
    display: inline-block;
}

.navi_principal li {
    display: inline-block;
    border-style: none;
    padding: 10px;
    margin-top: -5px;
}

.navi_principal a {
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 90%;
    padding: 3px;
}

.navi_principal li:hover {
    background-color: rgba(3, 11, 15, 0.74);
}

.a1,
.a2 {
    margin-right: -1px;
    padding: 10px;
}

.a3 {
    margin-right: px;
}

.navi_principal img {
    display: inline-block;
    position: relative;
    left: 14%;
    top: 5px;
}

.ul_design {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: -8px;
}

.wallpaper{
    background-image:url(../imagens/topo.jpg);
    background-position: left center;
    width: center;
    height: 500px;
    background-size: cover;
}

.section-1{
    width: 80%;
    margin: auto;
}

.section-1 article{
    font-size: 100%;
    text-align: center;
    margin-top: 80px;
}

.cards li{
    display: inline-block;
    margin: 10px;
}

.cards p,h4{
    text-align: center;
    
}

.cards h4{
    margin-top: 10px;
    margin-bottom: 0px;
    color: rgb(70, 70, 70);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.cards p{
    margin-top: 10px;
    color: rgba(72, 72, 72, 0.72);
}

.section-2{
    background-image: url(../imagens/bg_detalhe.png);
    height: 650px;
    margin: auto;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2 p,h2{
    text-align:;
    color: white;
    width: 80%;
    margin: 0;
    font-weight: normal;
}

.section-2 .nojust{
    text-transform: uppercase;
    font-size: 300%;
    margin-left: 110px;
}

.section-2 .just{
    text-transform: uppercase;
    font-size: 325%;
    margin-bottom: 60px;
    margin-top: 0px;
    margin-left: 110px;
}
.section-2 p{
    font-size: 18.08px;
    margin-left: 110px;
    color: rgba(253, 253, 253, 0.76);
    line-height: 1.5;
    width: 48%;
}

.section-3{
    text-align: center;
    margin: 50px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 140%;
    color: rgb(1, 39, 83);
}

.section-3 .p1{
    margin-bottom: 5px;
}
.section-3 .p2{
    margin-top: 0px;
}

.footer{
    text-align: center;
    background: rgb(7, 20, 44);
    color: rgba(83, 123, 170, 0.78);
    letter-spacing: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{
    margin: 0;
}