body {
    font-family: sans-serif;
    background: #ccc;
    margin: 0;
}

.hero {
    background-image: url(../imagens/bg-3.jpg);
    height: 31.250em;
    background-position: right center;
    background-size: cover;
    border-top: 0.063em solid transparent;
}

.hero li{
    display: inline-block;
    list-style: none;
    border: 0.063em solid white;
    margin-top: 0.31em;
    margin-left: 0.63em;
}
.hero a{
    background: rgba(0,0,0,0.4);
    display: block;
    padding: 0.94em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.063em;
}

.hero a:hover{
    background: rgba(0,0,0,0.6);
}

.hero ul{
    text-align: right;
    margin: 0.63em 1.56em 0 0;
}


.hero-content {
    text-align: center;
    color: white;
    margin-top: 6.25em;
}

.hero-content h1 {
    text-transform: uppercase;
    font-size: 2.88em;
    text-shadow: 0.19em 0.19em 0.13em #333;
}

main {
    width: 80%;
    text-align: ;
    margin: auto;

}

.content-section {
    background-color: white;
    padding: 0.13em 0.31em 0.63em 0.44em;
    margin-top: 0.75em;
}

.rodape {
    height: 80px;
    color:white;
    font-size:0.88em;
    text-align: center;
    text-shadow: 0.13em 0.13em 0.13em black;
    background: #6b6c68;
    line-height: 5em;
}

.content-section h2 {
    background-color: darkgrey;
    text-align: left;
    padding: 0.44em 0.19em 0.44em 0.13em;
    margin-top: 0.44em;
    margin-bottom: 0.63em;
}